 /*
    DEMO STYLE
*/
body {
    font-family: 'Montserrat', sans-serif;
  }


p {
font-family: 'Montserrat', sans-serif;
font-size: 1.1em;
font-weight: 300;
line-height: 1.7em;
color: #007bff;
}

a,
a:hover,
a:focus {
color: inherit;
text-decoration: none;
transition: all 0.3s;
}

.navbar {
padding: 15px 10px;
background: #fff;
border: none;
border-radius: 0;
margin-bottom: 40px;
box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
box-shadow: none;
outline: none !important;
border: none;
}

.line {
width: 100%;
height: 1px;
border-bottom: 1px dashed #ddd;
margin: 40px 0;
}

/* ---------------------------------------------------
SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
display: flex;
width: 100%;
align-items: stretch;
}

#sidebar {
min-width: 250px;
max-width: 250px;
background: #7386D5;
color: #fff;
transition: all 0.3s;
}

#sidebar.active {
margin-left: -250px;
}

#sidebar .sidebar-header {
padding: 20px;
background: #6d7fcc;
}

#sidebar ul.components {
padding: 20px 0;
border-bottom: 1px solid #47748b;
}

#sidebar ul p {
color: #fff;
padding: 10px;
}

#sidebar ul li a {
padding: 10px;
font-size: 1.1em;
display: block;
}

#sidebar ul li a:hover {
color: #7386D5;
background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
color: #fff;
background: #6d7fcc;
}

a[data-toggle="collapse"] {
position: relative;
}

.dropdown-toggle::after {
display: block;
position: absolute;
top: 50%;
right: 20px;
transform: translateY(-50%);
}

ul ul a {
font-size: 0.9em !important;
padding-left: 30px !important;
background: #6d7fcc;
}

ul.CTAs {
padding: 20px;
}

ul.CTAs a {
text-align: center;
font-size: 0.9em !important;
display: block;
border-radius: 5px;
margin-bottom: 5px;
}

a.download {
background: #fff;
color: #7386D5;
}

a.article,
a.article:hover {
background: #6d7fcc !important;
color: #fff !important;
}

/* ---------------------------------------------------
CONTENT STYLE
----------------------------------------------------- */

#content {
width: 100%;
padding: 20px;
min-height: 100vh;
transition: all 0.3s;
}

/* ---------------------------------------------------
MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
#sidebar {
    margin-left: -250px;
}
#sidebar.active {
    margin-left: 0;
}
#sidebarCollapse span {
    display: none;
}
}

.popular_courses {
padding-bottom: 100px;
}
@media (max-width: 991px) {
.popular_courses {
    padding-bottom: 40px;
}
}
.popular_courses .owl-item {
opacity: 0;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
padding: 0px 10px;
padding-bottom: 30px;
}
.popular_courses .owl-item.active {
opacity: 1;
}
.popular_courses .owl-nav {
display: flex !important;
justify-content: space-between;
position: absolute;
top: 50%;
width: 120%;
transform: translateY(-50%);
left: -11%;
}
@media (max-width: 991px) {
.popular_courses .owl-nav {
    display: none !important;
}
}
.popular_courses .owl-nav .owl-prev img,
.popular_courses .owl-nav .owl-next img {
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
filter: grayscale(100%);
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}
.popular_courses .owl-nav .owl-prev img:hover,
.popular_courses .owl-nav .owl-next img:hover {
-webkit-filter: grayscale(0%);
-moz-filter: grayscale(0%);
-ms-filter: grayscale(0%);
-o-filter: grayscale(0%);
filter: grayscale(0%);
}

.single_course {
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}
.single_course .course_head {
position: relative;
overflow: hidden;
}
.single_course .course_head img {
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}
.single_course .price {
position: absolute;
top: -34px;
right: 15px;
z-index: 2;
color: #002347;
display: inline-block;
height: 65px;
line-height: 65px;
width: 65px;
text-align: center;
border-radius: 50px;
background: #fdc632;
font-family: "Rubik", sans-serif;
font-weight: 500;
font-size: 20px;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}
.single_course .price img {
margin-top: -8px;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}
.single_course .course_content {
padding: 30px 26px;
background: #f9f9ff;
position: relative;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}
.single_course .course_content .tag {
padding: 2px 21px;
font-size: 13px;
color: #fff;
background: #002347;
text-transform: uppercase;
}
.single_course .course_content h4 {
font-size: 20px;
font-weight: 500;
}
.single_course .course_content h4 a {
color: #002347;
}
.single_course .course_content p {
margin: 0;
}
.single_course .course_content .course_meta {
margin-top: 25px;
}
.single_course .course_content .course_meta .meta_info a {
color: #002347;
}
.single_course .authr_meta img {
width: 45px !important;
height:auto;
display: inline-block !important;
}
.single_course .authr_meta span {
color: #002347;
font-weight: 500;
}
.single_course:hover {
box-shadow: 0px 10px 30px rgba(0, 35, 71, 0.1);
}
.single_course:hover .course_head img {
-webkit-transform: scale(1.2);
-moz-transform: scale(1.2);
-ms-transform: scale(1.2);
-o-transform: scale(1.2);
transform: scale(1.2);
}
.single_course:hover .course_content {
background: #fff;
}
.single_course:hover .price {
background: #002347;
color: #fdc632;
}
.single_course:hover h4 a {
color: #fdc632;
}


.order-card {
color: #fff;
}

.bg-c-blue {
background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card {
border-radius: 5px;
-webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
border: none;
margin-bottom: 30px;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

.card .card-block {
padding: 25px;
}

.order-card i {
font-size: 26px;
}

.f-left {
float: left;
}

.f-right {
float: right;
}

.panel {
box-shadow: 0 2px 0 rgba(0,0,0,0.05);
border-radius: 0;
border: 0;
margin-bottom: 24px;
}

.panel-dark.panel-colorful {
background-color: #3b4146;
border-color: #3b4146;
color: #fff;
}

.panel-danger.panel-colorful {
background-color: #f76c51;
border-color: #f76c51;
color: #fff;
}

.panel-primary.panel-colorful {
background-color: #5fa2dd;
border-color: #5fa2dd;
color: #fff;
}

.panel-info.panel-colorful {
background-color: #4ebcda;
border-color: #4ebcda;
color: #fff;
}

.panel-body {
padding: 25px 20px;
}

.panel hr {
border-color: rgba(0,0,0,0.1);
}

.mar-btm {
margin-bottom: 15px;
}

h2, .h2 {
font-size: 28px;
}

.small, small {
font-size: 85%;
}

.text-sm {
font-size: .9em;
}

.text-thin {
font-weight: 300;
}

.text-semibold {
font-weight: 600;
}